# Copy this to .mysql.env and alter
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
# For tests we don't provide a DB name since we create
# a new one each time and drop it
MYSQL_DB_NAME=
MYSQL_USER_NAME=root
MYSQL_PASSWORD=bill1zawesome
# If no migration path, use current dir
MYSQL_MIGRATION_PATH=
# Usually don't use tls locally
MYSQL_USE_TLS=false
